* {
    font-family: 'Montserrat', sans-serif;
}

.nav {
    display: flex;
    padding: 30px 7%;
    font-size: 20px;
    border-bottom: 2px solid rgb(63, 86, 185)
}

.nav>.title {
    flex-grow: 10;
    font-weight: bold
}

.nav .item {
    flex-grow: 1;
    text-align: right
}

body,
html {
    padding: 0;
    margin: 0
}

.img {
background-image: url(img/watch.jfif);
background-size: cover;
margin:100px;
padding:200px 100px;
background-position: centre;
}

.img2{
    background-image: url(../img/cell.jfif);
    background-size: cover;
    margin:100px;
    padding:200px 100px;
    background-position: centre;



}





.nob {

    font-size: 25px;
    font-display: bold;
    font-weight: bold
}
.butt {
    background-color: aqua
}

.bob {

color: rgb(30, 109, 20);
}

